API_ID=12345
API_HASH=your_api_hash_here
STRING_SESSION=your_string_session_here
OWNER_ID=your_telegram_user_id
MEOW_API_URL=https://music.yukiapi.site
MEOW_API_KEY=yuki_28d18045448fe0df857d31dfe08fcdef
DEFAULT_THUMB_URL=https://graph.org/file/a0d949ae033c97bb60c0b-238eeecbc9c32d092f.mp4
